<configuration debug="true">

  <conversionRule conversionWord="coloredLevel" converterClass="play.api.Logger$ColoredLevel" />

  <appender name="FILE" class="ch.qos.logback.core.FileAppender">
    <file>${application.home}/logs/application.log</file>
    <encoder>
      <pattern>%date - [%level] - from %logger %n%message%n%xException%n</pattern>
    </encoder>
  </appender>

  <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
    <encoder>
      <pattern>%date - [%level] - %logger{15} - %message%n%xException{5}</pattern>
    </encoder>
  </appender>

  <logger name="play" level="INFO" />
  <logger name="application" level="INFO" />
  <logger name="home" level="DEBUG" />
  <logger name="api.todo" level="DEBUG" />
  <logger name="api.login" level="DEBUG" />
  <logger name="api.push" level="DEBUG" />
  <logger name="service.todo" level="DEBUG" />
  <logger name="service.push" level="DEBUG" />
  <logger name="play.filters.hosts.AllowedHostsFilter" level="ERROR" />

  <root level="ERROR">
    <appender-ref ref="STDOUT" />
    <appender-ref ref="FILE" />
  </root>

</configuration>