html {
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  height: 100%;
}

div#root {
  height: 100%;
}

.fullsize {
  height: 100%;
}

.prio5 {
  color: #F00;
  font-weight: bold;
}

.prio4 {
  color: rgb(255, 123, 0);
  font-weight: bold;
}

.prio3 {
  color: rgb(192, 168, 29);
  font-weight: bold;
}

.prio2 {
  color: rgb(143, 204, 0);
  font-weight: bold;
}

.prio1 {
  color: rgb(69, 187, 0);
  font-weight: bold;
}

@media only screen and (min-width: 400px) {
  .todo-name {
    font-size: 20px;
  }
  
  .category {
    font-size: 20px;
  }

  .prio {
    font-size: 20px;
  }
}

@media only screen and (max-width: 399px) and (min-width: 310px) {
  .todo-name {
    font-size: 17px;
    padding: 5px;
  }
  
  .category {
    font-size: 17px;
  }

  .prio {
    font-size: 17px;
    margin-right: -10px;
  }

  .table > tr > td {
    padding: 8px;
  }
}

@media only screen and (max-width: 309px) {
  .todo-name {
    font-size: 17px;
  }
  
  .category {
    font-size: 17px;
  }

  .prio {
    font-size: 17px;
    margin-right: -20px;
  }

  .table > tr > td {
    padding: 5px;
  }
}

li.list-group-item.disabled {
  background-color:#CCC;
}

.autocomplete-item {
  font-size: 20px;
}

.inline {
  display: inline;
}

.small {
  font-size: 8px;
}